<!DOCTYPE HTML>
<% max_displayed = 20 %>

<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- <script src= "../public/js/tweet_events.js">  </script>  why doesn't this work?-->

    <title>nanoTwitter Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> <!-- This is to enable icons -->

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     <style>
      body {
        /*padding-top: 60px;*/
        background-color: skyblue;
      }

    .tooltip {
        display:none;
        position:absolute;
        border:1px solid #333;
        background-color:#161616;
        border-radius:5px;
        padding:10px;
        color:#fff;
        font-size:12px Arial;
      }

    </style>


  </head>
  <body>
  <script src="http://code.jquery.com/jquery-latest.min.js"> 
  </script>
  
     <%= erb :navbar %>

<!-- Begin page-->
<div class="container">
  <div class="row" background-color>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
      <h1> Hey <%= @user[:name] %> </h1>
          <h3> User Info: </h3>
          <ul>
          <li> Username: <%= @user[:user_name]%></li>
          <li> Email: <%= @user[:email]%> </li>
          <li> Followers: <%= @user[:follower_count]%> </li>
          <li> Follows: <%=@user[:following_count]%> </li>
          <li> Number of tweets: <%=@user[:tweet_count]%> </li>
        </ul>
      </div>
      </div>
      </div>
      <div class="col-md-6">
        <form action="/tweet/new/submit" method="POST">
        <div class="form-group">
             <label for="RoarInput">Roar!</label>
             <textarea type=text class="form-control" name= "tweet_text" id="Tweet_input" rows="3"></textarea>
        </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
      Tweets by People you Follow:
      <br>
      <% @tweets.each do |tweet| %>
          <div class="panel panel-default">
            <div class="panel panel-heading">
              <%=tweet.author_name%> tweeted at <%=tweet.created_at%> :
            </div>
            <div class ="panel panel-body">
              <%= tweet.text%>
            </div>
             <div class="panel panel-footer">
            <a style="padding-left:5px;"href='javascript:;' class='heart' title='like' data-tweet-id= <%=tweet.id%> >
                <i  class="fa fa-heart"> </i>
                <p class="heart2" data-tweet-likes= <%= tweet.likes %>> <%= tweet.likes %></p> 
            </a> 
            
            <a style="padding-right:5px;" href='javascript:;' class='reply' title='reply' data-tweet-id= <%=tweet.id%> > <i  class="fa fa-reply"></i></a> 


        
            </div> 
          </div>
          <br>
        <%end%>
      </div>
    </div>
  </div>


 <script>
    
    
          $('a.heart').click(function(){
              $.ajax({
              url: "/tweet/like",
              type: "POST",
              data: {tweet_id: $('.heart').attr('data-tweet-id')},
              success: function(){                                           
                        var likes = $('.heart2').attr('data-tweet-likes')
                        var likes = parseInt(likes) + 1
                        $('.heart2').text(likes.toString())
                      } 
          
             })
          })


          //   $('a.reply').click(function(){
          //     $.ajax({
          //     url: "/tweet/reply",
          //     type: "POST",
          //     data: {tweet_id: $('.reply').attr('data-tweet-id')}
          
          //    })
          // })






          // $('a.heart').hover(function(){
          //     var title = $(this).attr('title')
          //     $(this).data('tipText', title).removeAttr('title');
          //     $('<p class="tooltip"></p>')
          //     .text(title)
          //     .appendTo('body')
          //     .fadeIn('slow');

          // })         

</script>

   

<script scr="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>


  

<!--Bootstrap jQuery Plugins, compiled and minified -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
