<% content_for :head do %>
  <title><%=@user_name %>'s Homepage</title>
<% end %>

<div class="container">
  <div class="row" background-color>
      <%= erb :user_info %>
      <%= erb :write_tweet%>
      <div class= "col-md-6" id = "tweet_feed">

          Tweets by People <%= @user_name %> Follows:
          <br>
          <%= erb :feed %>
      </div>
    </div>
  </div>
