<% content_for :head do %>
  <title><%=@user.user_name%>'s Profile</title>
<% end %>

    <div class="container">
      <div class="row" background-color>
        <%= erb :user_info %>
        <%= erb :follow_button %>
        <%= erb :write_tweet%>
          <div class= "col-md-6">

            <%=@user[:user_name]%>'s Tweets
            <br>
            <%= erb :feed %>
            
          </div>
      </div>
    </div>
