<div class="col-md-4">
    <div class="panel panel-default">
         <div class="panel-body">
            <% condition = session[:user_name] == @user[:user_name] %>
            <% if condition  %>
                <h1 style="color:black"> Welcome <%= @user[:user_name] %> </h1> 
                <% else %>
                <h1 style="color:black"><%= @user[:user_name] %>'s Profile </h1>
            <%end %>

            <h3> User Info: </h3>
            <ul>
                <li> Followers: <%= @user[:follower_count]%> </li>
                <li> Follows: <%=@user[:following_count]%></li>
                <li> Tweets Written by <%= @user[:user_name] %> : <%=@user[:tweet_count]%>  </li>
                <% if @home && condition  %>
                <li> <a href=<%="/user/"+ @user[:user_name] %> > Profile </a> </li>
                <% elsif condition %>
                <li> <a href="/"> Home </a> </li>
                <% end %>
              
           </ul>
        </div>
    </div>
</div>
